dataSource.driverClassName=com.mysql.cj.jdbc.Driver
dataSource.url=jdbc:mysql://localhost:3306/database-for-bittrex?verifyServerCertificate=false&useSSL=true&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
dataSource.username=<user>
dataSource.password=<password>
fetchperiod.milis=5000
fetch.url=https://bittrex.com/api/v1.1/public/getmarketsummaries